# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Sistema
.DS_Store
Thumbs.db

# Dados temporários (vamos precisar disto mais tarde)
*.db
*.sqlite
*.sqlite3